# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.sqlite3
*.db
*.log

# configuration
.env

# venv
env
venv

# other
.DS_Store

# sphinx docs 
_build
_static
_templates

# javascript
package-lock.json
.vscode/symbols.json

# user profile images
app/base/static/assets/img/avatars/
